baseURL: 
title: prostheticHead.dev
paginate: 5
theme: "PaperMod"

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
googleAnalytics: G-6TS83LRCNG

minify:
    disableXML: false
    minifyOutput: true

outputs:
  home:
    - HTML
    - RSS
    - JSON 

params:
    env: production 
    # to enable google analytics, opengraph, twitter-cards and schema.
    
    title: prostheticHead.dev
    description: "my personal devlog"
    keywords: [Blog, GameDev, Devlog]
    author: Ash
    # author: ["Me", "You"] # multiple authors
    images: ["<link or path of image for opengraph, twitter-cards>"]
    DateFormat: "January 2, 2006"
    defaultTheme: dark # dark, light
    disableThemeToggle: true

    ShowReadingTime: false
    ShowShareButtons: true
    ShowPostNavLinks: true 
    ShowBreadCrumbs: true
    ShowCodeCopyButtons: true 
    disableSpecial1stPost: false
    disableScrollToTop: false
    comments: false
    hidemeta: false
    hideSummary: false
    showtoc: false
    tocopen: false

    assets:
        # disableHLJS: true # to disable highlight.js
        # disableFingerprinting: true
        favicon: "/images/keen.png"
        favicon16x16: "/images/keen.png"
        favicon32x32: "/images/keen.png"
        apple_touch_icon: "/images/keen.png"
        safari_pinned_tab: "/images/keen.png"

    label:
        text: "prostheticHead.dev"
        icon: /images/keen.png
        iconHeight: 32

    # profile-mode
    profileMode:
        enabled: true # needs to be explicitly set
        title: prostheticHead.dev
        subtitle: ""
       # imageUrl: "/images/keen.png"
       # imageWidth: 120
       # imageHeight: 120
        #imageTitle: prostheticHead
        buttons:
            - name: Posts
              url: posts
            - name: Game Dev
              url: categories/game-dev/
            - name: 3D Printing
              url: categories/3d-printing/
            - name: Tags
              url: tags

    # home-info mode
    #homeInfoParams:
    #    Title: "Hi there \U0001F44B"
    #    Content: Welcome to my devlog

    socialIcons:
        - name: twitter
          url: "https://twitter.com/ph2k"
        - name: itchio 
          url: "https://ph2k.itch.io"
        - name: github
          url: "https://github.com/prosthetichead"
        - name: thingiverse
          url: "https://www.thingiverse.com/prosthetichead/designs"


    cover:
        hidden: false # hide everywhere but not in structured data
        hiddenInList: false # hide on list pages and home
        hiddenInSingle: true # hide on single page

    editPost:
        URL: "https://github.com/prosthetichead/phDotDev/tree/main/content"
        Text: "View Source" # edit text
        appendFilePath: true # to append file path to Edit link

    # for search
    # https://fusejs.io/api/options.html
    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]
menu:
    main:
        - identifier: search
          name: search
          url: /search
          weight: 10
        - identifier: posts 
          name: posts
          url: /posts/
          weight: 20
        - identifier: categories
          name: categories
          url: /categories/
          weight: 30
        - identifier: tags
          name: tags
          url: /tags/
          weight: 40

# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
# pygmentsUseClasses: true
# markup:
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         style: monokai
